<div class="banner">
  <div class="container">
    <h1><strong>CineFile</strong></h1>
    <h3 class="text-white">File your favourite movies</h3>
    <a class="btn btn-success mt-3" href="#">Create List</a>
  </div>
</div>





<div class="container mt-3">
  <div class="d-flex justify-content-between align-items-center">
    <h1>Lists</h1>
  </div>




  <% if @lists.any? %>
    <div class="cards">
      <% @lists.each do |list| %>
        <%= link_to list_path(list), class: 'text-white text-decoration-none' do %>
              <div class="card-category" style="background-image:
              linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
              url(<%= list.photo.attached? ? cl_image_path(list.photo.key)
              : 'https://happiclap.com/wp-content/uploads/2019/06/Everyday-Clapboard-1.jpg' %>)">
                <%= list.name %>
              </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <p>No CineFiles Yet</p>
  <% end %>

  <%= link_to "Add a List", new_list_path, class: "btn btn-success my-2 col-2" %>
</div>
